* {
  margin: 0;
  box-sizing: border-box;
  font: 10px 'Roboto', san-serif;
  vertical-align: bottom;
}

.fas, .fab {
  color: black;
  text-decoration: none;
}

h2 {
  font: 7vw 'Sue Ellen Francisco', cursive;
}

h3 {
  font: 5vw 'Sue Ellen Francisco', cursive;
}

p {
  font: 1.5vw 'Roboto', san-serif;
  line-height: 1.75;
}
/* get rid of font sizes for other p's? */

a {
  font: 2.5vw 'Sue Ellen Francisco', cursive;
  text-decoration: none;
  color: black;
}

.wave-divider {
  width: 100%;
}

/* NAVIGATION SECTION */

nav {
  background-color: #E3A761;
  position: fixed;
  width: 100%;
  z-index: 1;
  top: 0;
  box-shadow: 3px 3px 7px rgba(79, 79, 80, 0.5);
}

.nav-container {
  height: 11rem;
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin: 0 6vw;
}

nav .fas {
  font-size: 5rem;
}

.nav-links {
  display: flex;
  min-width: 40%;
  justify-content: space-between;
}

.fa-bars {
  display: none;
}

/* HEADER SECTION */

header {
  margin-top: 11rem;
  background-color: #F1ECE3;
  padding: 7rem 0;
  display: flex;
  justify-content: space-evenly;
  align-items: center;
}

header a {
  display: block;
  text-align: center;
  font-family: 'Roboto', sans-serif;
  width: 20vw;
  font-size: 2vw; 
  font-weight: bold;
  color: #F1ECE3;
  padding: 1.5rem;
  border: none;
  background-color: #5B6E7E;
}

header .fas {
  font-size: 2.5vw;
  padding-left: 2rem;
  color: #F1ECE3;
  vertical-align: baseline;
}

video {
  width: 65%;
}

/* ABOUT SECTION */

#about {
  background: #5B6E7E;
}

.about-container {
  padding: 0 0 7rem 0;
  display: flex;
  align-items: baseline;
  width: 60%;
  min-width: 75%;
  margin: 0 auto;
  color: #E5E5E5;
}

.about-container h2 {
  vertical-align: baseline;
  display: inline-block;
  /* height: 60px;
  vertical-align: top;
  margin-block-start: 0;
  margin-block-start: 0; */
}

.about-container a {
  font-size: 1.5vw;
  font-family: 'Roboto', sans-serif;
  vertical-align: baseline;
  color: #E5E5E5;
  text-decoration: underline;
}

.about-container p {
  margin: 3rem;
  font-family: 'Roboto', sans-serif;
}

.about-container p:first-child {
  margin-top: 0;
}

/* QUOTE SECTION */

.quotes {
  background-image: url("images/winter-landscape.jpeg");
  background-size:cover;
  background-repeat: no-repeat;
  padding: 12rem 0;
}

.quotes figure {
  width: 60%;
  margin: 0 auto;
  padding: 10rem 6rem;
  text-align: center;
  background-color: #E5E5E5;
  opacity: 70%;
  border: 5px solid #C87179;
}

.quotes blockquote p{
  font-size: 6vw;
  font-family: 'Sue Ellen Francisco', cursive;
}

.quotes figcaption {
  padding-top: 2rem;
  font-size: 2rem;
}

/* TECH USED SECTION */

#tech-used {
  background-color: #E3A761;
  padding: 7rem 0;
}

.tech-used-container {
  margin: 0 auto;
  text-align: center;
}

.tech-icon-container {
  display: flex;
  justify-content: space-evenly;
  padding: 0 3rem;
}

.tech-icon-container .fab {
  font-size: 8vw;
  margin: 5rem 0;
  color: #E5E5E5;
}

.tech-used-container a {
  vertical-align: baseline;
  color: black;
  text-decoration: underline;
}

/* CREDITS SECTION */

#credits {
  background-color: #F1ECE3;
}

#credits h3 {
  text-align: center;
  padding-top: 7rem;
}

.about-me {
  display: flex;
  align-items: center;
  
  width: 70%;
  margin: 0 auto;
}

.about-me img {
  min-width: 35%;
  max-width: 50%;
  border-radius: 50%;
  border: 5px solid #B1B959;
}

.about-me-text {
  margin: 0 2rem;
}

.thanks {
  margin: 0 auto;
  padding-bottom: 7rem;
  text-align: center;
  width: 70%;
}

.thanks-heading {
  display: flex;
  justify-content: center;
  align-items: baseline;
}

.thanks-heading h3 {
  padding-bottom: 2rem;
}

.thanks-heading img {
  width: 30%;
}

/* FOOTER SECTION */

footer {
  background-color: #E3A761;
  /* padding: 5rem; */
  padding-bottom: 5rem;
  display: flex;
  flex-direction: column;
  align-items: center;
}

footer .fab {
  font-size: 7rem;
  margin: 3rem;
}

footer p {
  font: 2.5vw 'Sue Ellen Francisco', cursive;
}

@media screen and (max-width: 1200px) {
  p {
    font-size: 2rem;
  }

  .nav-links {
    width: 50%;
  }

  .nav-links a {
    font-size: 3rem;
  }

  .about-container a {
    font-size: 2rem;
  }
}

@media screen and (max-width: 992px) {
  .about-me {
    flex-direction: column;
  }

  .about-me img {
    margin: 1rem 0 3rem 0;
  }

  .about-me p {
    text-align: center;
  }
}

@media screen and (max-width: 750px) {
  .fa-bars {
    display: block;
    cursor: pointer;
  }

  .nav-links {
    display: none;
    flex-direction: column;
    align-items: center;
    background-color: #E3A761;
    min-width: 100%;
    position: absolute;
    top: 11rem;
    left: 0;
    border-top: 1px solid black;
    padding: 1rem 0;
  }

  .toggleHide {
    display: display;
  }
}