* {
  margin: 0;
  box-sizing: border-box;
  font: 10px 'Roboto', san-serif;
  vertical-align: bottom;
}

body {
  /* background-color: #F1ECE3; */
  background-color: #f4f2ef;
}

.fas, .fab {
  color: black;
  text-decoration: none;
}

h2, h3 {
  font: 7vw 'Sue Ellen Francisco', cursive;
}

p {
  font: 1.75vw 'Roboto', san-serif;
  line-height: 1.75;
}

a {
  font: 2.5vw 'Sue Ellen Francisco', cursive;
  text-decoration: none;
  color: black;
}

.wave-divider {
  width: 100%;

}


/* NAVIGATION SECTION */

nav {
  /* background-color: #E3A761; */
  background-color: #fbc78d;
  position: fixed;
  width: 100%;
  z-index: 1;
  top: 0;
  box-shadow: 3px 3px 7px rgba(79, 79, 80, 0.5);
}

.nav-container {
  height: 9rem;
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin: 0 5vw;
}

nav .fas {
  font-size: 5rem;
}

.nav-links {
  display: flex;
  min-width: 40%;
  justify-content: space-between;
}

.fa-bars {
  display: none;
}


/* HEADER SECTION */

header {
  margin-top: 9rem;
  padding: 7rem 0;
  display: flex;
  justify-content: space-evenly;
  align-items: center;
}

header a {
  display: block;
  text-align: center;
  font-family: 'Roboto', sans-serif;
  width: 20vw;
  font-size: 2vw; 
  font-weight: bold;
  color: #f4f2ef;
  padding: 1.5rem;
  border: none;
  /* background-color: #5B6E7E; */
  background-color: #7b95a9;
  margin: auto 0;
}

header .fas {
  font-size: 2.5vw;
  padding-left: 2rem;
  color: #f4f2ef;
  vertical-align: baseline;
}

video {
  width: 65%;
  /* border: 8px solid #C87179; */
  border: 8px solid #ea929b;
}


/* ABOUT SECTION */

#about {
  /* background: #5B6E7E; */
  background: #7b95a9;
}

.about-container {
  padding-bottom: 7rem;
  display: flex;
  align-items: baseline;
  width: 60%;
  margin: 0 auto;
  /* color: #E5E5E5; */
  color: #f4f2ef;
}

.about-container a {
  font-size: 1.75vw;
  font-family: 'Roboto', sans-serif;
  vertical-align: baseline;
  color: #E5E5E5;
  text-decoration: underline;
}

.about-container p {
  margin-left: 3rem;
  font-family: 'Roboto', sans-serif;
}

.about-container p:first-child, p:nth-child(2n) {
  padding-bottom: 3rem;
}


/* QUOTE SECTION */

.quotes {
  background-image: url("images/winter-landscape.jpeg");
  background-size:cover;
  background-repeat: no-repeat;
  padding: 12rem 0;
}

.quotes figure {
  width: 60%;
  margin: 0 auto;
  padding: 10rem 6rem;
  text-align: center;
  background-color: #f4f2ef;
  opacity: 70%;
  border: 8px solid #ea929b;
}

.quotes blockquote p{
  font-size: 5vw;
  font-family: 'Sue Ellen Francisco', cursive;
}

.quotes figcaption {
  padding-top: 2rem;
  font-size: 2vw;
  font-style: italic;
}


/* TECH USED SECTION */

#tech-used {
  /* background-color: #5B6E7E; */
  background-color: #7b95a9;
  color: #f4f2ef;
}

.tech-used-container h3 {
  padding-top: 6rem;
}

.tech-used-container {
  margin: 0 auto;
  text-align: center;
  padding-bottom: 5rem;
}

.tech-icon-container {
  display: flex;
  justify-content: space-evenly;
  padding: 0 3rem;
}

.tech-icon-container .fab {
  font-size: 8vw;
  margin: 5rem 0;
  color: #E5E5E5;
}

.tech-used-container a {
  vertical-align: baseline;
  color: #E5E5E5;
  text-decoration: underline;
}

.wave-divider-middle {
  transform: scaleY(-1);
}


/* CREDITS SECTION */

#credits {
  margin: -1px 0;
}
/*Attempt to cover slight line between wavy dividers and top and bottom sections */

#credits h3 {
  text-align: center;
  padding-top: 7rem;
}

.about-me {
  display: flex;
  align-items: start;
  width: 70%;
  margin: 0 auto;
}

.about-me img {
  min-width: 35%;
  max-width: 50%;
  border-radius: 50%;
  border: 8px solid #B1B959;
}

.about-me-text {
  margin: 0 4rem;
}

.thanks {
  margin: 0 auto;
  padding-bottom: 7rem;
  text-align: center;
  width: 70%;
}

.thanks-heading {
  display: flex;
  justify-content: center;
  align-items: baseline;
}

.thanks-heading h3 {
  padding-bottom: 2rem;
}

.thanks-heading img {
  width: 30%;
}

/* FOOTER SECTION */

footer {
  background-color: #fbc78d;
  padding-bottom: 5rem;
  display: flex;
  flex-direction: column;
  align-items: center;
}

footer .fab {
  font-size: 7rem;
  margin: 3rem;
}

footer p {
  font: 2.5vw 'Sue Ellen Francisco', cursive;
}


/* HOW-TO PAGE */

.how-to-header {
  align-items: start;
}

.video-and-button {
  width: 60%;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.how-to-button {
  margin-top: 5rem;
}

.how-to-video {
  width: 80%;
}

.instructions {
  margin-right: 10rem;
  width: 50%;
}

.instructions li {
  font-size: 2rem;
  line-height: 1.5;
}

.bullets {
  list-style: none;
}


@media screen and (max-width: 1200px) {

  p {
    font-size: 2rem;
  }

  .nav-links {
    width: 50%;
  }

  .nav-links a {
    font-size: 3rem;
  }

  .about-container a {
    font-size: 2rem;
  }

}

@media screen and (max-width: 992px) {
  .nav-container a {
    font-size: 4vw;
  }
  
  .about-me {
    flex-direction: column;
    align-items: center;
  }

  .about-me img {
    margin: 1rem 0 3rem 0;
  }

  .about-me-text {
    text-align: center;
    margin: 0;
    width: 100%;
  }

  .how-to-header {
    flex-direction: column;
    align-items: center;
  }

  .video-and-button {
    width: 90%;
  }

  .instructions {
    margin: 5rem 0;
    width: 90%;
  }

}

@media screen and (max-width: 750px) {

  h2 {
    font-size: 7rem;
  }

  h3 {
    font-size: 5.5rem;
  }

  a {
    font-size: 10rem;
  }

  .hide {
    display: none;
  }

  .fa-bars {
    display: block;
    cursor: pointer;
  }

  .nav-container {
    height: 8rem;
  }

  nav .fas {
    font-size: 4rem;
  }

  .nav-links {
    flex-direction: column;
    align-items: center;
    background-color: #fbc78d;
    min-width: 100%;
    position: absolute;
    top: 8rem;
    left: 0;
    border-top: 1px solid black;
    padding: 1rem 0;
  }

  header {
    margin-top: 6rem;
    flex-direction: column;
  }

  video {
    width: 85%;
  }

  header a {
    width: 250px;
    font-size: 2rem;
    margin-top: 5rem;
  }

  header .fas {
    font-size: 2rem;
  }
  
  .about-container {
    flex-direction: column;
    align-items: center;
    width: 80%;
  }

  .about-container h2 {
    text-align: center;
  }

  .quotes figure {
    width: 75%;
    margin: 0 auto;
    padding: 4rem 2rem;
  }

  .quotes blockquote p{
    font-size: 5rem;
    font-family: 'Sue Ellen Francisco', cursive;
  }

  .quotes figcaption {
    font-size: 2.5rem;
  }

  .tech-used-container p {
    padding: 0 2rem;
  }

  .tech-used-container a {
    font-size: 2rem;
  }

  .thanks-heading {
    flex-direction: column;
    align-items: center;
  }

  .thanks-heading h3 {
    padding-bottom: 0;
  }

  .thanks-heading img {
    width: 70%;
    padding-bottom: 3rem;
  }

}